.vscode/*
*.pyc
openai_api_key.txt
install_spacy_models.md
models/*.txt
slurm/*
test*

cmcl26/analysis/brms_models/*
cmcl26/_figs/*

experiment1/data/Kuperberg/*
experiment1/results/kuperberg_semantic_association.csv
experiment1/data/Delogu/*
experiment1/data/Hoeks/*
experiment1/results/hoeks_semantic_association.csv

experiment2/data/Tanner/*
experiment2/data/DERCo/*
experiment2/data/UCL/*
experiment2/results/*
experiment2/figs/preprocessing/*
experiment2/analysis/brms_models/*

experiment3/analysis/brms_models/*
experiment3/results/*