*.pyc
openai_api_key.txt
install_spacy_models.md
models/*
slurm/*
test*

cmcl26/analysis/brms_models/*
cmcl26/_figs/*

experiment1/data/Kuperberg/*
experiment1/results/kuperberg_semantic_association.csv

experiment2/data/Tanner/*